body{
    font-family: "Clear Sans", "Helvetica Neue","sans-serif";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.line-break {
	box-sizing: border-box;
	border: 1px solid #9CC4F5;
}

.cc-input{
	border: 1px solid #0C80FD;
	color: #0C80FD;	
	border-radius: 2px;	
	background-color: #F8FCFF;
}

.action-btn{
	border-radius: 19.5px;
	background-color: #0A3C77;
	letter-spacing: -0.5px;
	text-align: center;
	color: white;
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.whatsapp-btn{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	box-shadow: 0 15px 45px 1px rgba(23,128,224,0.21);
	color: #FBFBFB;
}

.blue-btn{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	color: #FBFBFB;
}

.info-btn{
	border-width: 2px;
	border-image: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
    border-image-slice: 1;
    -webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	transition: background 2s ease;
}

.info-btn:hover{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	box-shadow: 0 15px 45px 1px rgba(23,128,224,0.21);
	color: #FBFBFB;
}

.nav-link{
	color:#1E8EC8;
}

.text-20{
	font-size: 20px;
}

.this-black{
	color:#47495A;
}

.this-white{
	color:#FBFBFB;
}

.this-grey{
	color:#9B9B9B;
}

.this-blue{
	color: #0071ff;
}

.product-banner{
	border-radius: 12px;
  	/*background-image: linear-gradient(30deg, #102397 0%, #187ADF 60%, #00EAF8 100%);*/
  	background-image: linear-gradient(78deg, #102397 -100%, #187adf 60%, #00eaf8 260%);
  	background-blend-mode: soft-light;
}

.promotion-banner{
  	/*background-image: linear-gradient(to bottom, #5f73e4, #5f73e4), linear-gradient(252deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5));*/
  	background-blend-mode: soft-light;
  	background: #5F73E4;
	background-image: linear-gradient(-30deg, rgba(255,255,255,1.00) 0%, rgba(0,0,0,0.50) 100%);
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.pricing-container{
	border: 2px dashed #FFC360;
}

.price-section{
	border-right: 2px solid #430062;
}

.countdown-block{
  	background-blend-mode: soft-light;
	background: #0A3C77;
	background-image: linear-gradient(-136deg, rgba(255,255,255,1.00) 0%, rgba(0,0,0,0.50) 100%);
}

.input-color{
	color:#DE9A29;
}

.shadow-1{
		box-shadow: 0 15px 45px 0 rgba(23,128,224,0.21);
}

.currency{
	font-size: 20px;
}

.price-tag{
	font-size: 70px;
}

.text-blue{
	color: #283583;
}

.header-bg{
	background-color: #F6FAFD;
}

.nav-bg{
	background-color: #FAFBFE;
}