body{
    font-family: "Clear Sans", "Helvetica Neue","sans-serif";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.whatsapp-btn{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	box-shadow: 0 15px 45px 1px rgba(23,128,224,0.21);
	color: #FBFBFB;
}

.blue-btn{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	color: #FBFBFB;
}

.info-btn{
	border-width: 2px;
	border-image: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
    border-image-slice: 1;
    -webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	transition: background 2s ease;
}

.info-btn:hover{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	box-shadow: 0 15px 45px 1px rgba(23,128,224,0.21);
	color: #FBFBFB;
}

.nav-link{
	color:#1E8EC8;
}

.text-20{
	font-size: 20px;
}

.this-black{
	color:#47495A;
}

.this-grey{
	color:#9B9B9B;
}

.input-color{
	color:#DE9A29;
}

.shadow-1{
		box-shadow: 0 15px 45px 0 rgba(23,128,224,0.21);
}

.currency{
	font-size: 20px;
}

.price-tag{
	font-size: 70px;
}

.text-blue{
	color: #283583;
}

.header-bg{
	background-color: #F6FAFD;
}

.nav-bg{
	background-color: #FAFBFE;
}