body{
    font-family: "Clear Sans", "Helvetica Neue","sans-serif";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

textarea:focus, input:focus{
    outline: none;
}

.whatsapp-btn{
	background: linear-gradient(44.91deg, #102397 0%, #187ADF 55.27%, #00EAF8 100%);
	box-shadow: 0 15px 45px 1px rgba(23,128,224,0.21);
	color: #FBFBFB;
}

.nav-link{
	color:#1E8EC8;
}

.this-black{
	color:#47495A;
}

.this-grey{
	color:#9B9B9B;
}

.input-color{
	color:#DE9A29;
}

.shadow-1{
		box-shadow: 0 15px 45px 0 rgba(23,128,224,0.21);
}