option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
    allow_url_fopen: "On"
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:riH59z5/790prwwZFvvQt4j9Fp5iUyJy/y5MbdJ6W3s=
    DB_CONNECTION: mysql
    DB_HOST: vps.policystreet.com
    DB_DATABASE: psgo
    DB_USERNAME: psgoweb
    DB_PASSWORD: M6%vy1d1
    AWS_DEFAULT_REGION: ap-southeast-1
